<div class="col-md-6 col-md-offset-3">

  <div class="panel panel-default">

    <div class="panel-heading">
      Edit <%= resource_name.to_s.humanize %>
    </div>

    <div class="panel-body">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'form-horizontal', :role => 'form', method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email, class: 'col-sm-4 control-label' %>
        <div class="col-sm-8">
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password, class: 'col-sm-4 control-label' %>
        <div class="col-sm-8">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', :placeholder => "Leave blank if you don't want to change it" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: 'col-sm-4 control-label' %>
        <div class="col-sm-8">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :current_password, class: 'col-sm-4 control-label' %>
        <div class="col-sm-8">
          <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', :placeholder => "Need your current password to confirm your changes" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <%= f.submit "Update", class: 'btn btn-default', style: 'width: 100%;' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger', style: 'width: 100%;' %>
        </div>
      </div>

      <% end %>
    </div>
  </div>
</div>
