<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-bordered table-responsive">
      <tr>
        <td><a href="plugin/<%= @plugins[0].name %>"><%= @plugins[0].name %></a><br/><br/><br/></td>
        <td><a href="plugin/<%= @plugins[1].name %>"><%= @plugins[1].name %></a><br/><br/><br/></td>
        <td><br/><br/><br/></td>
        <td><br/><br/><br/></td>
      </tr>
      <tr>
        <td><br/><br/><br/></td>
        <td><br/><br/><br/></td>
        <td><br/><br/><br/></td>
        <td><br/><br/><br/></td>
      </tr>
      <tr>
        <td><br/><br/><br/></td>
        <td><br/><br/><br/></td>
        <td><br/><br/><br/></td>
        <td><br/><br/><br/></td>
      </tr>
      <tr>
        <td><br/><br/><br/></td>
        <td><br/><br/><br/></td>
        <td><br/><br/><br/></td>
        <td><br/><br/><br/></td>
      </tr>
      <tr>
        <td><br/><br/><br/></td>
        <td><br/><br/><br/></td>
        <td><br/><br/><br/></td>
        <td><br/><br/><br/></td>
      </tr>
      <tr>
        <td><br/><br/><br/></td>
        <td><br/><br/><br/></td>
        <td><br/><br/><br/></td>
        <td><br/><br/><br/></td>
      </tr>
    </table>
  </div>
</div>
