<div class="row">
  <div class="col-md-8">
    <h1><%= @plugin.name %></h1>
  </div>
  <div class="col-md-4">
    <a href="<%= @plugin.url %>" class="btn btn-primary btn-lg" role="button">Download</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <samp><%= @plugin.dependencies %></samp></br><br/>
  </div>
</div>
