<div class="col-md-6 col-md-offset-3">

  <div class="panel panel-default">

    <div class="panel-heading">
      Change your password
    </div>

    <div class="panel-body">

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), , :html => {:class => 'form-horizontal', :role => 'form', method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label :password, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.password_field :password, autocomplete: "off", autofocus: ture, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "Change my password", class: 'btn btn-default', style: 'width: 100%;' %>
        </div>
      </div>

      <% end %>

      <br/>

      <%= render "devise/shared/links" %>

    </div>

  </div>

</div>
