<div class="btn-group btn-group-justified">
  <div class="btn-group">
    <button type="button" class="btn btn-default"><a href="#dtk">dtk</a></button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default"><a href="#dtk-plugins-math">dtk Math Plugins</a></button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default"><a href="#dtk-plugins-distributed">dtk Distributed Plugins</a></button>
  </div>
</div>

<a name="dtk">

<script>
  $('body').repo({ user: 'd-tk', name: 'dtk' });
</script>

<a name="dtk-plugins-math">

<script>
  $('body').repo({ user: 'd-tk', name: 'dtk-plugins-math' });
</script>

<a name="dtk-plugins-distributed">

<script>
  $('body').repo({ user: 'd-tk', name: 'dtk-plugins-distributed' });
</script>
