/*
 *= require bootstrap
 *= require_self
 *= require_tree .
 *
 */

@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

html {
  background: #f4f4f4 url('dtk-noise.png') top left;
}

body {
  padding-top: 70px;
  background: #ffffff url('dtk-noise.png') top left;
}

footer {
  background: #f4f4f4 url('dtk-noise.png') top left;

}

footer {
  border-top: 1px solid #e7e7e7;
}

.navbar-default {
    height: 51px;
}

.navbar-default .navbar-brand {
  background-color: #f4f4f4;
  border-right: 1px solid #e7e7e7;
  font-family: 'Dancing Script', cursive;
  font-size: 36px;
  padding-right: 30px;
  padding-left:  30px;
  color: #ff2b23;
  height: 50px;
  width: 110px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    border-bottom: 4px solid;
}

.navbar-default a {
    transition-duration: 0.4s;
}

.navbar-default .navbar-nav > li > a {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0px solid #ff2b23; 
    height: 50px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ff2b23;
    border-bottom: 4px solid #ff2b23;
}

.navbar img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
  
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: 5px;
}

nav.navbar.shrink {
    min-height: 30px;
    height: 31px;
}

nav.shrink .navbar-brand {
    font-size: 22px;
    padding-right: 38px;
    padding-left:  38px;
    color: #ff2b23;
    height: auto;
}

nav.shrink .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    padding-bottom: 2px;    
}

nav.shrink a {
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
}

nav.shrink .navbar-nav > li > a {
    height: auto;
}

nav.shrink .navbar-nav > li > a:hover, nav.shrink .navbar-nav > li > a:focus {
    padding-bottom: 2px;
}


