
.content-doc {
  
  h2 {
    border-bottom: 1px solid #eee;
  }

  .fn {
    .name {
      font-weight: bold;
    }
    .type {
      color: red;
    }
  }

  .panel-doc {
    float: right;
    width: 300px;
  }
  
  .rightAlign {
    text-align: right;
  }

  .table-doc {
    width: 70%;
  }
}
