<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">dtk</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li><a href="<%= root_path %>">Home</a></li>
        <li><a href="/doc/dtkdoc/index.html">Docs</a></li>
        <li><a href="<%= code_path %>">Code</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% unless user_signed_in? %>
        <li><a href="<%= new_user_session_path %>">Sign in</a></li>
        <% else %>
        <li><a href="<%= destroy_user_session_path %>" data-method="delete">Sign out</a></li>
        <% end %>
      </ul>

      <% if user_signed_in? %>
         <img src="http://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(current_user.email) %>" class="nav navbar-nav navbar-right navbar-text "/>
      <% end %>
    </div>
  </div>
</nav>
