<!DOCTYPE html>
<html>
  <head>
    <title>dtk</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/qtcreator_light.min.css">
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <%= render 'layouts/header' %>
    <%= render 'layouts/main' %>
    <%= render 'layouts/footer' %>
  </body>

  <script>
    $(document).ready(function() {
      $('pre').each(function(i, block) {
        hljs.highlightBlock(block);
      });
    });
  </script>
</html>
